---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>Como desarrollador junior, tengo experiencia trabajando con React para crear interfaces interactivas y componentes reutilizables. Uso TypeScript para añadir tipado a mis proyectos y mejorar la calidad del código. Estoy familiarizado con Tailwind CSS para diseñar interfaces responsivas de manera eficiente y he utilizado Bootstrap para construir layouts limpios y funcionales. También tengo una buena base en HTML y CSS, lo que me permite estructurar y estilizar páginas web de forma efectiva.
		</p>
	</div>
</section>
